@import url('https://fonts.googleapis.com/css2?family=Radley&display=swap');

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px; /* decrease the size */
  height: 60px; /* decrease the size */
  border: 3px solid black; /* adjust border size accordingly */
  border-radius: 50%;
  background-color: white;
}

.text {
  font-size: 36px; /* decrease the font size */
  font-weight: bold;
  color: black;
  font-family: 'Radley', serif;
  text-transform: lowercase;
  position: relative;
  top: -3px; /* adjust position accordingly */
}
