@import url('https://fonts.googleapis.com/css2?family=Radley&display=swap');

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 126px;
  height: 126px;
  border: 5px solid black;
  border-radius: 50%;
  background-color: white;
}

.text {
  font-size: 74px;
  font-weight: bold;
  color: black;
  font-family: 'Radley', serif;
  text-transform: lowercase;
  position: relative;
  top: -5px;
}
