@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.fade-in {
  transition: opacity 1s;
  opacity: 1 !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}
.hero {
  margin-top: -120px !important;
}
#my-root {
  background: white;
}
header {
  background: transparent;
  z-index: 99 !important;
}
.react-parallax {
  margin-top: -150px;
}
h1,h2,h3,h4,h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 23px;
  line-height: 1.5;
  color: #000;
  font-weight: 400;
  line-height: 38px;
}
.lc_text-widget--btn {
  background-color: #000 !important;
}
@keyframes bop {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.animate-bop:hover {
  animation: bop 0.5s ease-in-out infinite;
}
.link:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease;
}
.link {
  transition: transform 0.3s ease;
}

.link:hover {
  transform: scale(1.1);
}
